# Project exclude paths
/adapter/controller/target/
/adapter/encoder/sha256/target/
/adapter/id-generator/jug/target/
/adapter/repository/in-memory-simple/target/
/configuration/target/
/domain/target/
/usecase/target/